.venv
.git
__pycache__
*.pyc
.pytest_cache
.ruff_cache

# Data & Assets
assets/
scripts/

# Environments & Secrets
.env
.python-version

# IDEs & Editor configs
.idea/
.vscode/
*.swp
*.swo

# Python distribution / Build
build/
dist/
*.egg-info/
.mypy_cache/

# Documentation & Meta
LICENSE
concept.md
Makefile
