POSTGRES_USER=your-postgres-user
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=your-postgres-db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

EMBEDDING_MODEL=intfloat/multilingual-e5-large
LLM_MODEL=qwen3:4b
EMBEDDING_CACHE_DIR=${HOME}/.cache/fastembed
EMBEDDING_BATCH_SIZE=128
USE_GPU=true
HF_TOKEN=your-hugging-face-token
